@font-face {
    font-family: Neutraface;
    font-weight: bold;
    src: url("../font/Neutraface2Text-Bold.otf") format("opentype");
}

@font-face {
    font-family: Neutraface;
    font-weight: normal;
    src: url("../font/Neutraface2Text-Light.otf") format("opentype");
}

body{
    font-family: Neutraface, sans-serif;
    font-weight: normal;
    background-color: #eeeeee;
}

.navbar-brand{
    font-family: Neutraface, sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.nav-link{
    font-size: 16px;
    font-family: Neutraface, sans-serif;
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-right: 30px;
}

.navbar-nav .nav-link.login-btn {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px 12px;
    transition: all 0.3s;
}

.navbar-nav .nav-link.login-btn:hover {
    color: white;
    background-color: grey;
    border-color: black;
}

.dropdown-item{
    font-size: 16px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.row h2 {
    font-size: 30px;
    font-family: Neutraface, sans-serif;
    font-weight: bold;
    margin-top: 50px;
}

.table-responsive {
    max-height:400px;
}

.lead {
    font-size: 25px;
    margin-bottom: 50px;
}