<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/styles-admin.css" rel="stylesheet">
    <style>
        .table {
            background-color: rgba(255, 255, 255, 0.9);
            font-size: 20px;
        }
        .table-hover tbody tr:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
        .table-responsive {
            max-height:290px;
        }
        .update-form {
            display: none;
        }
        .container{
            margin-top: 40px;
            margin-bottom: 100px;
        }
        .card-header{
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }
        .card-body, .btn{
            font-size: 20px;
        }
        span, span a{
            margin-left: 5px;
        }

        .update-btn{
            background-color: orange;
            border: none;
        }

        .update-btn:hover{
            background-color: darkorange;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/admin-dashboard}">Admin Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registered-users}">USERS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownBooks" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        BOOKS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownBooks">
                        <li><a class="dropdown-item" th:href="@{/books-admin-list}">See Full List</a></li>
                        <li><a class="dropdown-item" th:href="@{/book-registration}">Add New Book</a></li>
                        <li><a class="dropdown-item" th:href="@{/book-update}">Update or Remove Book</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link login-btn" th:href="@{/logout}">LOGOUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Banned Books</h2>
            <p class="lead">Explore and Discover</p>
        </div>
        <div th:if="${param.successUpdate}">
            <div class="alert alert-success">
            You have successfully updated a banned book!
            </div>
        </div>
        <div th:if="${param.successDelete}">
            <div class="alert alert-warning">
                You have successfully deleted a banned book!
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>ISBN</th>
                <th>Genres</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "book : ${books}">
                <td th:text = "${book.title}"></td>
                <td th:text = "${book.author}"></td>
                <td th:text = "${book.year}"></td>
                <td th:text = "${book.isbn}"></td>
                <td>
                    <ul>
                        <li th:each="genre : ${book.genres}" th:text="${genre.name}"></li>
                    </ul>
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-lg btn-block update-btn">Update</button>
                </td>
                <td>
                    <form th:action="@{'/book-delete/' + ${book.title}}" method="post">
                        <button type="submit" class="btn btn-danger btn-lg btn-block">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="row mt-3 update-form">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Book Update</h2>
                </div>
                <div class="card-body">
                    <form method="post" role="form" th:action="@{/book-update/save}" th:object="${book}">
                        <div class="form-group mb-3">
                            <label for="bookISBN">ISBN:</label>
                            <input type="text" class="form-control" id="bookISBN" name="bookISBN" th:field="*{isbn}">
                            <p th:errors = "*{isbn}" class="text-danger"
                               th:if="${#fields.hasErrors('isbn')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label for="bookTitle">Title:</label>
                            <input type="text" class="form-control" id="bookTitle" name="bookTitle" th:field="*{title}">
                            <p th:errors = "*{title}" class="text-danger"
                               th:if="${#fields.hasErrors('title')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label for="bookAuthor">Author:</label>
                            <input type="text" class="form-control" id="bookAuthor" name="bookAuthor" th:field="*{author}">
                            <p th:errors = "*{author}" class="text-danger"
                               th:if="${#fields.hasErrors('author')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label for="bookYear">Year:</label>
                            <input type="text" class="form-control" id="bookYear" name="bookYear" th:field="*{year}">
                            <p th:errors = "*{year}" class="text-danger"
                               th:if="${#fields.hasErrors('year')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="genres">Genres</label>
                            <select multiple class="form-control" id="genres" name="genres">
                                <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-JFqKz2VrZDG2tcscAqvi3+ckbL2gCg/DOTqKmrXdeKw33rXE6C8JvkPZNfYYD2Kx" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-csKb4ksyVQoRt6hycr3WVvRXwV4O7q4QQl3uylNlGzK0f0JwC3jz0u8EGZgM7TAW" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const updateButtons = document.querySelectorAll(".update-btn");
        const updateForm = document.querySelector(".update-form");
        const bookTitleInput = document.getElementById("bookTitle");
        const bookIsbnInput = document.getElementById("bookISBN");
        const bookAuthorInput = document.getElementById("bookAuthor");
        const bookYearInput = document.getElementById("bookYear");

        updateButtons.forEach(button => {
            button.addEventListener("click", () => {
                const row = button.closest("tr");
                const bookTitle = row.querySelector("td:nth-child(1)").innerText;
                const bookAuthor = row.querySelector("td:nth-child(2)").innerText;
                const bookYear = row.querySelector("td:nth-child(3)").innerText;
                const bookIsbn = row.querySelector("td:nth-child(4)").innerText;

                bookTitleInput.value = bookTitle;
                bookAuthorInput.value = bookAuthor;
                bookYearInput.value = bookYear;
                bookIsbnInput.value = bookIsbn;

                const rect = button.getBoundingClientRect();
                const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
                const topPosition = rect.top + scrollTop + button.offsetHeight;

                updateForm.style.top = `${topPosition}px`;
                updateForm.style.display = "block";
            });
        });
    });
</script>
</body>
</html>